{% extends "_base.html" %}
{% load filtros  %}
{% load staticfiles %}

{% block titulo %}
    <title>Editar cosa por ver</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

{% endblock %}

{% block nombre %}Cosa por ver{% endblock %}

{% block boton %}Editar{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() { 
    $.ajax({
        url: '{% url "comprobar_usuarios_viaje" %}',
        dataType: 'json',
        data : {
            'usuario': '{{ user.get_username }}',
            'viaje': '{{ object.pk }}'
        },
        success: function(data) {
            if(!data.bandera) $(location).attr('href','{% url 'inicio' %}');
        }
    });
});
</script>
{% endblock %}