{% extends "_base.html" %}
{% load filtros  %}
{% load staticfiles %}

{% block titulo %}
    <title>Editar Elemento Presupuesto</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

{% endblock %}

{% block nombre %}Elemento Presupuesto{% endblock %}

{% block boton %}Editar{% endblock %}



{% block scripts %}
<script>
$( document ).ready(function() { 
    $.ajax({
        url: '{% url "comprobar_usuarios_viaje" %}',
        dataType: 'json',
        data : {
            'usuario': '{{ user.get_username }}',
            'viaje': '{{ object.pk}}'
        },
        success: function(data) {
            if(!data.bandera) $(location).attr('href','{% url 'inicio' %}');
        }
    });
});

//cargar el formulario
$('#form').on('submit',function(e){
alert("se esta enviando");
e.preventDefault();
console.log($(this).serialize())
var pagar = $("#id_pagar_antes").prop('checked');
            console.log("Planificacion");
            console.log(pagar);
            if(!pagar){
                pagar = "False";
            }else{
                pagar = "True";
            }
            console.log(pagar)
      $.ajax({
            url: '{% url "editar_elemento" %}',
            dataType: 'json',
            data : {
            'pk' : {{object.pk}},
            'concepto' : $("#id_concepto").val(),
            'inicio' : $("#id_inicio").val(),
            'fin':$("#id_fin").val(),
            'precio' : $("#id_precio").val(),
            'usuario_paga' : $("#id_usuario_paga").val(),
            'pagar_antes' : pagar,
            'tipo' : $("#id_tipo").val(),
            },
            success: function (data) {
            console.log(data);
                if(data){
                    alert("se han editado correctamente los valores del viaje")
                    $(location).attr('href','{% url 'viaje' object.idViaje.pk %}');

                 }
            }
       });
});


</script>
{% endblock %}